# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências
node_modules/

# Build / distribuição (se tiver)
dist/
dist-ssr/
build/

# Arquivos locais
.env
*.local
.DS_Store

# Banco de dados local
*.sqlite

# Configs de editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema operacional
Thumbs.db
