<link rel="stylesheet" href="/styles/global.css" />
<link rel="stylesheet" href="/styles/room.css" />

<div class="no-questions">
  <img src="/images/chat.svg" alt="sem perguntas" />
  <p>Nenhuma pergunta por aqui...</p>
  <p>
    Faça a primeira pergunda e envie o <br />
    código da sala para outras pessoas!
  </p>
</div>
